body {
    font-family: Roboto;
    font-style: normal;
}
.title {

    font-weight: 900;
}
.list-item-link {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}