*,
*::after,
*::before {
box-sizing: border-box;
   }
   
:root{
    --product-color:#212121;
    --mainfoot-color: #757575;
    --blue-color: #2196F3;
    --studiocolor: #000;
    --studiocolor2: #FFFFFF;
    --backcolor: #2F303A;
    --imgcolor: #F5F4FA;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
   }

   ul {
    margin: 0;
    padding: 0;
    list-style: none;
   }

   a {
text-decoration: 0;
   }

   button {
    border: none;
   }
body {
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
img {
    display: block;
    max-width: 100%;
}
/* Header */
.header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-position {
    display: flex;

}
.team-position {
    color: #757575;
    margin-bottom: 30px;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;



}
.navigation {
    display: flex;
    align-items: center;
}
.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    font-family: Raleway;
    letter-spacing: 0.78px;

}
.header-web {
    color: var(--blue-color); 
    
}
.header-studio {
color: #000; 
}
.menu-list {
    font-size: 14px;
    font-weight: 500;
    line-height:1.14;
    display: flex;
  margin-left: 93px;
}

.menu-item + .menu-item {
    margin-left: 50px;
}
.menu-link {
    color: var(--studiocolor);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.menu-link:hover {
color: var(--blue-color);
}
.contact-link {
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;

}
.contact-link:hover {
color: var(--blue-color);
}
.contact-info {
    font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.main-heading {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height:1.36;
    width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: var(--studiocolor2);
}
/* Section-hero */
.hero {
    padding-top: 200px;
  padding-bottom: 200px;
  background: var(--backcolor);
  background-image: url(../images/Img\ Overlay.png),url(../images/Img.png);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.button {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color:var(--blue-color);
    border: none;
    padding: 10px 32px;
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
/* Наші особливості */
.features {
  padding-top: 95px;
  padding-bottom: 95px;
}
.features-text {
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.features-list{
display: flex;
column-gap: 30px;
}
.antena::before  {
    background-image: url(../images/antenna.png);
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  background-position: center;
}
.clock::before  {
    background-image: url(../images/clock.png);
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  background-position: center;
}
.laptop::before  {
    background-image: url(../images/laptop.png);
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  background-position: center;
}
.space::before  {
    background-image: url(../images/astronaut.png);
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  background-position: center;
}
.what-we-do {
    padding-bottom: 94px;
}
.what-we-do-heading {
    display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.what-we-do-list {
    display: flex;
    column-gap: 30px;
}
.what-we-do-list-item {
  flex-basis: calc((100% - 60px) / 3);
}
/* .imgage {
    margin-left: 30px;
} */
.team-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 30px;
    margin-bottom: 10px;
color: #212121;

}
.team-list {
    display: flex;
   column-gap: 30px;
   text-align: center;
}
.team-item {
    flex-basis: calc((100% - 90px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);


}
.team {
    padding-bottom: 94px;
    padding-top: 94px;
   background-color: #F5F4FA;
}
.list-item-link {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.what-we-do-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: normal
}
.team-heading {
    font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
margin-bottom: 50px;
}
.box {
    display: flex;
    align-items: baseline;
}
.contact-menu {
    display: flex;
  align-items: center;
  margin-left: auto;
  
}
.contact-item + .contact-item {
    margin-left: 50px;
}
/* Футер */
.footer {
    background: var(--backcolor);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    font-family: Raleway;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
    display: block;

}
.footer-web {
    color: var(--blue-color); 
    
}
.footer-studio {
color: var(--studiocolor2)
}
.contact-adress{
    font-style: normal;
    color: #FFFFFF;
    margin-bottom: 9px;
}
.contact-link-footer {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.footer-item + .footer-item {
    margin-top: 9px;
}